.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.yeah {
  color: orange;
  font-size: 3em;
}
.main {
  height: 100%;
}
.row1, .row2, .row3 {
  border-width: 1px;
  border-style: solid;
  height: 1rem;
}

.row1 {
  border-color: red;
  height:20%;
}

.row2 {
  height:60%;
}

.row3 {
  border-color: green;
  height:20%;
}

nav ul {
  padding:0.5rem 0 0.5rem 0;
  margin:0px;
}
nav ul li{
  list-style:none;
  display:inline;
  padding-right:0.5rem;
  padding-left: 0.3rem;
  border-right: 1px solid black;
}

#footer {
  font-size: 0.7rem;
  color:cornflowerblue;
}